<html>
    <head>
        <title>Ted's Bowling Alley</title>
    </head>
    <body>
        <h1>Ted's Bowling Alley</h1>
        <h2>We Grease Your Lane For Your Balls!</h2>
        <p>1234 Washington Street
        Ann Arbor, MI 48107</p>
    </body>
</html>
